.pages
	.modulepager
		ul.pagination
			li.PagerCurrentPageCell.active
				span.SelectedPage 1
			li.PagerOtherPageCells
				a.ModulePager(href='#') 2
			li.PagerOtherPageCells
				a.ModulePager(href='#') 3
			li.PagerOtherPageCells
				a.ModulePager(href='#') 4
			li.PagerOtherPageCells
				a.ModulePager(href='#') 5
			li.PagerOtherPageCells
				a.ModulePager(href='#') 6
			li.PagerOtherPageCells
				a.ModulePager(href='#') 7
			li.PagerOtherPageCells
				a.ModulePager(href='#') 8
			li.PagerOtherPageCells
				a.ModulePager(href='#') 9
			li.PagerOtherPageCells
				a.ModulePager.NextPage(href='#') ›
			li.PagerOtherPageCells
				a.ModulePager.LastPage(href='#') »