.home-tab
	.mobile-nav-toggle
		h4 Category
		span.mdi.mdi-menu
	nav(tab-for="home-products-services")
		a.tab-item.active(href="#tab-content-1") Tab 1
		a.tab-item(href="#tab-content-2") Tab 2
		a.tab-item(href="#tab-content-3") Tab 3